@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.tab {
    margin-top: 50px;
    order: 1;
}

table {
    border-spacing: 10px;
}

div[class*="card"] {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: azure;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

/* .start {
    animation: znikanie 2s;
} */

.start::before {
    content: "";
    position: absolute;
    background: black;
    min-width: 150px;
    height: 150px;
    border-radius: 10px;
    animation: znikanie 1s linear;
}

.gameBtns {
    width: 600px;
    height: 100px;
    display: inline-block;
    order: 2;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.gameBtns > div {
    width: 150px;
    height: 70px;
    background: azure;
    text-align: center;
    line-height: calc(150px / 2);
    font-size: 2rem;
    border-radius: 30px;
}

.play {
    cursor: pointer;
}

@keyframes znikanie {
    0% { opacity: 0;}
    50% { opacity: 0.3;}
    100% { 
        opacity: 1;
    }
}